* {
    margin: 0;
}

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

:root {
    --light-black: #1C2329;
    --dark-black: #14181C;
    --white-text: #B0B5B6;
    --border: #252A2E;
    --test-blue: #178ED6;
    --test-white: #FFFFFF;
    --btn: #1992D4;
}

body {
    font-family: Roboto, sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    grid-row: span 2;
    background-color: var(--test-blue);
    display: grid;
    grid-template-rows: 1fr 3fr 5fr;
    padding-top: 10px;
}

.header {
    grid-area: 1 / 2 / 1 / 2;
    display: grid;
    grid-template: 1fr 1fr / 4fr 2fr;
}

.main {
    display: grid;
    grid-template-columns: 5fr 2fr;
    background-color: lightgray;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: start;
}

.navigation,
.branding {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(auto-fill, minmax(33px, 1fr));
    justify-content: center;
    align-items: center;
    justify-items: center;
    color: white;
    
}

.branding {
    margin-top: 30px;
}

.navigation span,
.dashboard span,
.branding span {
    justify-self: start;
}

img[src$=".svg"]:not(.dark) {
    filter: invert(1);
    width: 1.3em;
    height: 1.3em;
}

#dash {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}

#alien {
    width: 2.5rem;
    height: 2.5rem;
}

.navigation,
.branding {
    font-size: 0.9rem;
    font-weight: 550;
}

input {
    width: 45vw;
    height: 1.3rem;
    border-radius: 10px;
    border: none;
    padding-left: 8px;
    background-color: lightgray;   
}

input:focus {
    border: 1px solid blue;
    box-shadow: 0 0 4px blue;
    background-color: rgb(211, 211, 211, 0.4);
    outline: none;
}

img.dark {
    width: 1.3em;
    height: 1.3em;
}

.search-bar {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-content: center;
    padding-left: 50px;
}

.user-profile {
    display: grid;
    grid-template-columns: repeat(3, 40px);
    align-items: center;
    align-content: center;
    justify-content: center;
    column-gap: 18px;
    white-space: nowrap;
}

.user-main {
    display: grid;
    grid-template-columns: 50px 100px;
    padding-left: 50px;
    align-content: start;
    column-gap: 10px;
}

.text-content {
    display: grid;
    white-space: nowrap;
}

.action-btn {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: start;
    align-content: center;
}

#gojo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    justify-self: center;
}

#gojo-big {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

img[alt="notifications"] {
    justify-self: end;
}

.user-profile p {
    justify-self: start;
    font-size: 0.85rem;
    font-weight: 800;
}

button {
    height: 1.7rem;
    width: 5rem;
    border-radius: 20px;
    border: none;
    background-color: var(--btn);
    color: white;
    font-weight: 550;
    font-size: 0.7rem;
}

.mid {
    justify-self: center;
}

.srt {
    justify-self: end;
}

.small {
    font-size: 0.7rem;
    font-weight: 800;
    align-self: end;
}

.huge {
    font-weight: 900;
}

.projects {
    display: grid;
    grid-template: 1.5rem repeat(3, 1fr)/ 1fr 1fr;
    gap: 15px;
    padding: 20px;
}

.projects > p {
    grid-column: 1 / span 2;
    align-self: end;
    position: relative;
    top: 8px;
}

.projects > div {
    background-color: white;
}

div[class^="board"] {
    border-radius: 10px;
}

.left-panel {
    display: grid;
    grid-template-rows: 1.5rem 1fr 1.5rem 1fr;
    padding: 20px 20px 20px 0px;
    gap: 15px;
}

.left-panel > div {
    background-color: white;
    border-radius: 10px;
}

.trending,
.announcements {
    align-self: end;
}

.trending,
.announcements {
    position: relative;
    top: 8px;
}
