* {
    margin: 0;
}

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

:root {
    --light-black: #1C2329;
    --dark-black: #14181C;
    --white-text: #B0B5B6;
    --border: #252A2E;
    --test-blue: #178ED6;
    --test-white: #FFFFFF;
}

body {
    font-family: Roboto, sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    grid-row: span 2;
    background-color: var(--test-blue);
    display: grid;
    grid-template-rows: 1fr 3fr 5fr;
}

.header {
    grid-area: 1 / 2 / 1 / 2;
}

.main {
    background-color: green;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.navigation,
.branding {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(auto-fill, minmax(35px, 1fr));
    justify-content: center;
    align-items: center;
    justify-items: center;
    color: white;
    
}

.branding {
    margin-top: 30px;
}

.navigation span,
.dashboard span,
.branding span {
    justify-self: start;
}

img[src$=".svg"] {
    filter: invert(1);
    width: 1.3em;
    height: 1.3em;
}

#dash {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}

.dashboard img {
    width: 2.5rem;
    height: 2.5rem;
}

.navigation,
.branding {
    font-size: 0.9rem;
    font-weight: 550;
}
